---
layout: layouts/base

title: Employee Training Solutions
permalink: /blog/
meta: Discover actionable insights into the learning industry, informative pieces on best practices for training, and more. Subscribe to get the latest in your inbox.

---
<div class="bg-gradient-to-b from-slate-200 via-white to-white pb-4">
  <div class="wrapper">
    {%- for post in collections.blog | reverse -%}
      {% if loop.index0 < 3 %}

        <article class="mx-auto pt-12 w-full max-w-2xl">
          <a aria-label="{{post.data.title}}" href="{{post.url}}"
            class="
              grid grid-cols-3 gap-y-4 gap-x-8
              group
            ">
            <figure class="col-span-full {{ 'md:order-last' if loop.index0 == 1}} {{ 'md:col-span-full' if loop.index0 == 0 else 'md:col-span-1' }}">
              {% picture post.data.image, post.data.title, "aspect-[21/9] {{ 'md:aspect-square' if loop.index0 > 0 }} object-cover w-full h-full rounded-lg bg-slate-100" %}
            </figure>
            <section class="col-span-full {{ 'md:col-span-full' if loop.index0 == 0 else 'md:col-span-2' }}">
              <h2 class="text-xl {{'md:text-3xl' if loop.index0 == 0 }} font-serif font-medium leading-tight group-hover:underline decoration-1 underline-offset-2" style="orphans: 2;">{{post.data.title}}</h2>
              <p class="mt-4 text-sm font-light leading-relaxed">{{ post.data.meta }}</p>
            </section>
          </a>
        </article>

      {% endif %}
    {%- endfor -%}
  </div>
</div>



<div class="bg-gradient-to-b from-epl-dark to-epl-dark/0 pb-4 relative">
  {% svg "waves--wave-2", "wave-top -scale-y-100 fill-white" %}
  {% svg "waves--wave-7", "wave-bot fill-white" %}

    <article
      class="
        relative wrapper
        mx-auto w-full max-w-2xl
        pt-16
        prose prose-sm sm:prose-base prose-invert
      ">
      <h1 style="margin:0">Employee Training Insights</h1>
      <h2 class="font-light" style="margin: 0.6em 0;">We love learning!</h2>
      <p>As learning experts, you can't pry the books and blogs and research articles out of our hands, or podcasts out of our ears. We're always focused on learning and we never stop seeking knowledge about the latest in employee engagement and motivation, and learning theories and technology.</p>
      <p>In the insights from our eLearning blog, you’ll find informative, actionable, and cutting-edge insights into corporate training and development. What does that mean? Articles that tie into recent mainstream news stories. In-depth looks into the newest trends and technologies that are shaping the future of employee training. And, it also means insights into best practices, employee engagement tips, and more.</p>
      <p>Subscribe now to get the latest eLearning news delivered straight to your inbox.</p>
    </article>

    <aside 
      class="
        relative
        mx-auto w-full max-w-xl
        mt-12 p-4
        bg-white rounded-xl ring-4 ring-offset-4 ring-epl-light ring-offset-blue-300
      ">
      <h3 class="text-3xl font-bold text-epl-dark leading-none">Subscribe now!</h3>
      <p class="my-6 text-sm">Keep up to date on learning industry news and the latest EdgePoint offerings.</p>
      {% include 'forms/newsletter.983.html' %}
    </aside>

</div>



<div class="bg-white pt-8 pb-16">
  <div class="wrapper">
    {%- for post in collections.blog | reverse -%}
      {% if loop.index0 >= 3 %}

        <article class="mx-auto pt-12 col-span-full max-w-2xl">
          <a 
            aria-label="{{post.data.title}}"
            href="{{ post.url }}" 
            title="{{post.title}}" 
            class="group grid grid-cols-4 gap-x-8">
            <figure class="col-span-1 hidden sm:block">
              {% picture post.data.image, post.data.title, "rounded object-cover aspect-square w-full h-auto bg-slate-100", "144px" %}
            </figure>
            <section class="col-span-full sm:col-span-3">
              <h2 class="text-lg font-serif font-medium leading-tight group-hover:underline decoration-1 underline-offset-2">{{post.data.title}}</h2>
              <p class="mt-4 text-sm font-light leading-relaxed">{{ post.data.meta }}</p>
            </section>
          </a>
        </article>

      {% endif %}
    {%- endfor -%}
  </div>
</div>