---
title: pagelist
permalink: /list/
layout: layouts/01.nav.njk
sitemap:
  ignore: true
---
<div class="bg-white py-8">    
  <table class="wrapper mx-auto table-auto text-xs">
    {%- for post in collections.all -%}
      <tr>
        <td class="py-1">
          <a class="text-edgepoint-400" href="{{ 'https://www.edgepointlearning.com' ~ post.url }}">{{ post.url }}</a>
        </td>
        <td>
          {{ 'https://www.edgepointlearning.com' ~ post.url }}
        </td>
        <td>
          {{ post.data.title }}
        </td>
        <td>
          {{ 'hidden' if post.data.sitemap.ignore }}
        </td>
      </tr>
    {%- endfor -%}
  </table>
</div>