
.nav-link {
  @apply 
    flex align-middle 
    text-sm py-1 px-2
    whitespace-nowrap text-white rounded
    outline outline-0 outline-blue-700
    hover:outline-2 hover:bg-blue-700
}



.wrapper {
  @apply
    mx-auto px-4 xl:px-0
    w-full max-w-5xl
}



.epl-prose-scale {
  @apply
    prose prose-sm sm:prose-base lg:prose-lg
}
.epl-prose-style {
  @apply
    prose-slate prose-a:text-edgepoint-500 prose-img:rounded-xl
}
.epl-prose-margin {
  @apply
    mx-auto px-4 md:px-0
}


.wave-top {
  @apply 
    absolute
    w-full h-full 
    -top-px
}
.wave-bot {
  @apply 
    absolute
    w-full h-full 
    -bottom-px
}



/* .sharer-button {
  @apply
    flex flex-col place-items-center gap-1
    text-xs
    opacity-75 hover:opacity-100
} */


/* lite-youtube-fallback */
.lite-youtube-fallback {
  aspect-ratio: 16 / 9; /* matches YouTube player */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.lite-youtube-fallback::before {
  display: block;
  content: '';
  border: solid transparent;
  border-width: 2em 0 2em 3em;
  border-left-color: red;
}

.lite-youtube-fallback:hover::before {
  border-left-color: #fff;
}

.lite-youtube-fallback:focus {
  outline: 2px solid red;
}


/* blog post styles */
.blog-card-blue {
  @apply
    rounded-lg
    border-b-4 
    bg-blue-200 border-b-sky-600
    p-4 pr-2
    font-sans
    text-sm md:text-base
}