[hidden] {
  /* TODO: tailwind 3.1.6 bugfix */
  display: none;
}

[x-cloak] { 
  display: none !important; 
}

.grecaptcha-badge {
  visibility: hidden;
}

.prose section h3 a {
  font-weight: 600;
}

.guestauthor a {
  @apply
    underline
    text-black
}


/* prose */
.epl-prose-scale {
  @apply
    prose prose-sm sm:prose-base lg:prose-lg
}
.epl-prose-style {
  @apply
    prose-slate prose-a:text-edgepoint-500 prose-img:rounded-xl
}
.epl-prose-margin {
  @apply
    mx-auto px-4 md:px-0
}


/* .story-quotation {
  quotes: "\201C""\201D""\2018""\2019";
} */

.story-quotation:before,
.story-quotation:after {
  display: inline;
  height: 0;
  line-height: 0;
  position: relative;
  color: #5885bb;
  font-size: 3em;
}
.story-quotation:before {
  content: open-quote;
  left: -5px;
  top: 20px;
}
.story-quotation::after {
  content: close-quote;
  left: 5px;
  top: 32px;
}

/* sticky nav.js */
.scroll-down #navbar {
  @apply -translate-y-16
}
.scroll-up #navbar {
  @apply translate-y-0
}