
<div class="grid max-w-md grid-cols-3 p-8 mx-auto bg-epl-light">
  <div class="w-24 h-24 bg-gradient-to-t from-epl-light to-blue-600"></div>
  <div class="w-24 h-24 bg-gradient-to-t from-epl-light to-cyan-600"></div>
  <div class="w-24 h-24 bg-gradient-to-t from-epl-light to-sky-600"></div>
</div>
<div class="grid max-w-md grid-cols-3 p-8 mx-auto bg-epl">
  <div class="w-24 h-24 bg-gradient-to-t from-epl to-blue-800"></div>
  <div class="w-24 h-24 bg-gradient-to-t from-epl to-cyan-800"></div>
  <div class="w-24 h-24 bg-gradient-to-t from-epl to-sky-800"></div>
</div>
<div class="grid max-w-md grid-cols-3 p-8 mx-auto bg-epl-dark">
  <div class="w-24 h-24 bg-gradient-to-t from-epl-dark to-blue-900"></div>
  <div class="w-24 h-24 bg-gradient-to-t from-epl-dark to-cyan-900"></div>
  <div class="w-24 h-24 bg-gradient-to-t from-epl-dark to-sky-900"></div>
</div>