<div class="w-full px-4 bg-gray-200 xl:px-0 ">
  <div class="flex h-20 max-w-5xl gap-8 mx-auto overflow-x-scroll text-sm place-items-center whitespace-nowrap">
    <a href="">{% svg "logo--epl-e", "h-8 fill-primary aspect-square" %}</a>
    <a href="">Solutions</a>
    <a href="">Custom Development</a>
    <a href="">Co-Development</a>
    <a href="">Consulting</a>
    <a href="">Microlearning</a>
    <a href="">Performance Support</a>
    <a href="">Mobile Delivery</a>
    <a href="">Augmented Reality</a>
    <a href="">Insights</a>
    <a href="">About</a>
    <a href="">What We Do</a>
    <a href="">Our Team</a>
    <a href="">View Demos</a>
    <a href="">Case Studies</a>
    <a href="">Contact</a>
    <a href="">Book A Consultation</a>
    <a href="" class="">{% svg "menu--search", "h-6 aspect-square" %}</a>
    <a href="" class="">{% svg "social--facebook", "h-8 aspect-square" %}</a>
    <a href="" class="">{% svg "social--linkedin", "h-8 aspect-square" %}</a>
    <a href="" class="">{% svg "social--twitter",  "h-8 aspect-square" %}</a>
  </div>
</div>