<div class="relative w-full bg-gradient-to-r from-epl-light via-black/50 to-transparent">

  {% picture "GettyImages-537447438.jpeg", "hero image" "object-cover w-full h-full absolute -z-10 -scale-x-100" %}

  {% svg "waves--wave-bot-2", "absolute bottom-0 w-full h-full fill-white z-0" %}
  
  <div class="relative z-10 w-5/6 max-w-5xl pb-40 mx-auto pt-36">
    <h1 class="text-5xl font-extrabold text-white">We create training<br> that employees love</h1>
    <h2 class="my-12 text-3xl text-white">Let's create something amazing for your teams</h2>
    <div class="flex gap-x-6">
      <a href="#" class="px-5 py-2.5 font-light rounded-full bg-white">Our Work</a>
      <a href="#" class="px-5 py-2.5 font-light rounded-full bg-gray-300">Let's Talk</a>
    </div>
  </div>
  
</div>