<div class="sticky top-0 hidden w-full px-4 shadow-md xl:px-0 bg-white/80 md:block backdrop-blur">

  <ul class="flex items-center max-w-5xl py-4 mx-auto">

    <li class="flex-auto">
      <a href="#">
        {% svg "logo--epl-e", "h-8 aspect-square mg:hidden" %}
        {% svg "logo--epl-horizontal", "w-full max-w-[244px] aspect-[358/47] hidden mg:block" %}
      </a>
    </li>

    <li class="relative block" x-data="{showChildren:false}" @click.away="showChildren=false">
      <a href="#" class="nav-button" @click.prevent="showChildren=!showChildren">Solutions {% svg "menu--triangle-down", "h-4 aspect-square inline fill-primary align-text-top" %}</a>
      <div class="absolute left-0 top-auto z-30 w-56 mt-1 shadow-md" x-show="showChildren"  style="display: none;">
        <div class="relative z-10 w-full p-2 bg-white rounded">
            <ul>
              <li>Custom Development</li>
              <li>Co-Development</li>
              <li>Consulting</li>
              <li>Microlearning</li>
              <li>Performance Support</li>
              <li>Mobile Delivery</li>
              <li>Augmented Reality (AR)</li>
            </ul>
        </div>
      </div>
    </li>
    
    <li class=""><a class="nav-button" href="#">Insights</a></li>
    
    <li class="relative block" x-data="{showChildren:false}" @click.away="showChildren=false">
      <a class="nav-button" href="#" @click.prevent="showChildren=!showChildren">About {% svg "menu--triangle-down", "h-4 aspect-square inline fill-primary align-text-top" %}</a>
      <div class="absolute left-0 top-auto z-30 w-56 mt-1 shadow-md" x-show="showChildren"  style="display: none;">
        <div class="relative z-10 w-full p-2 bg-white rounded">
            <ul>
              <li>What We Do</li>
              <li>Our Team</li>
              <li>View Demos</li>
              <li>Case Studies</li>
            </ul>
        </div>
      </div>
    </li>
    
    <li class=""><a class="nav-button" href="#">Contact</a></li>
    
    <li class=""><a class="font-light text-white nav-button bg-primary hover:bg-black" href="#">Book A Consultation</a></li>
    
    <li class="ml-2"><a class="hover:fill-black fill-primary" href="#">{% svg "menu--search", "h-7 aspect-square" %}</a></li>

  </ul>

</div>