<div class="flex gap-6 pb-2 mx-auto mt-6 mb-12 overflow-x-auto snap-x snap-mandatory hide-scrollbars">
  <div class="w-1/6 snap-align-none shrink-0"></div>
  {% for pic in pictures limit:7 %}
    <div class="w-5/6 max-w-5xl snap-always snap-center shrink-0 first:ml-6 last:mr-6">
      {% picture pic.filename, pic.alt, "card object-cover aspect-video" %}
    </div>
  {% endfor %}
  <div class="w-1/6 snap-align-none shrink-0"></div>
</div>

{% for pic in pictures offset:7 %}
  <div class="w-5/6 max-w-5xl mx-auto my-6">
    {% picture pic.filename, pic.alt, "card object-cover aspect-[9/16]", "80vw" %}
  </div>
{% endfor %}