---
title: EdgePoint Learning Company Overview
permalink: /download-company-overview/
layout: layouts/01.nav.njk
sitemap: 
  ignore: true
---
<div class="bg-white py-16">
  <article class="          
    mx-auto px-4 xl:px-0
    prose prose-sm sm:prose-base lg:prose-lg prose-slate 
  ">
    <h1>Download EdgePoint Learning Company Overview</h1>
    <p>Since 2007, EdgePoint Learning has delivered custom eLearning solutions that drive your company's performance and business goals while also enriching your employee's capabilities. Download our company overview to learn what sets us apart.</p>
    <section class="not-prose pt-4">
      <a 
        href="/EdgePointLearningCompanyOverview.pdf"
        class="
          not-prose
          px-5 py-2.5 
          font-semibold tracking-wide rounded-full ring-1 shadow-lg
          bg-epl-light text-white ring-blue-300 shadow-blue-800
          hover:bg-green-500 hover:text-green-900 hover:ring-green-200 hover:shadow-green-600
      ">
      Download PDF
      </a>
    </section>
  </article>

</div>



<div class="relative bg-slate-500/50 grid items-end justify-center overflow-hidden">
  {% svg "waves--wave-1", "wave-top -scale-100 fill-white" %}
  {% picture "misc/download-cat.svg", "cat downloading files", "w-full h-auto max-w-4xl pt-36" %}
</div>