---
title    : Thank You for Scheduling
permalink: /rsvp-cb/
layout: layouts/01.nav.njk
sitemap: 
  ignore: true
---
<section class="relative grid pt-12 place-items-center">
  {% picture "misc/pet-meeting.svg", "animal meeting", "relative w-96" %}
  {% svg "waves--wave-2", "wave-bot fill-slate-300" %}
</section>

<section class="bg-slate-300 py-16">
  <div class="epl-prose-scale epl-prose-style epl-prose-margin">
    <h1>Thank you for scheduling!</h1>
    <h3 class="!mt-0 text-slate-700">I'm looking forward to our conversation</h3>
    <p>You should receive a calendar invite shortly. If you do not see it in your Inbox, please let me know. In case you need to reschedule our meeting for any reason, there is a link to reschedule in the invite or you can let me know.</p>
    <p>Cheers!<br>Corey</p>
    <ul class="mt-6 marker:text-slate-400">
      <li><a href="/">Go home</a></li>
      <li><a href="/blog/">Check out our blog</a></li>
      <li><a href="/solutions/">Explore our learning solutions</a></li>
    </ul>
  </div>
</section>