---
title: EdgePoint Learning - Subscribe to our Newsletter
permalink: /subscribe/
layout: layouts/01.nav.njk
sitemap: 
  ignore: true
---



<section class="bg-white pt-16 pb-6">
  <article class="epl-prose-scale epl-prose-style epl-prose-margin">
    <h1>Our Newsletter</h1>
    <p>Subscribe to our newsletter today for a monthly dose of cutting-edge insights, expert tips, and the latest trends in eLearning, traditional training, and employee development. As a bonus, each issue includes fun dinner party facts on a variety of topics. Don't miss out on the knowledge that can take your training strategies to the next level – subscribe now!</p>
    <div class="mt-12 p-6
      rounded-xl ring-1 ring-edgepoint-100 shadow-lg shadow-edgepoint-300/50 ">
      <h3 class="mt-0">Subscribe now for the latest news!</h3>
      {% include 'forms/2024newsletter.html' %}
    </div>
  </article>
</section>



<section class="relative bg-slate-500/50 grid items-end justify-center overflow-hidden">
  {% svg "waves/wave-1.svg", "wave-top -scale-100 fill-white" %}
  {% picture "misc/download-cat.svg", "cat downloading files", "w-full h-auto max-w-4xl pt-24" %}
</section>