<a
 href="{{ params.url }}" 
 class=" px-5 py-2.5 tracking-wide bg-white rounded-full shadow-lg shadow-blue-800 hover:shadow-blue-500 text-black hover:bg-black  hover:text-white ring-1 ring-black hover:ring-white"
 >
 {{ params.name }}
</a>