<a
  href="{{params.url}}"
  class="rounded-full bg-gradient-to-br from-black to-epl-light px-5 py-2.5 tracking-wide text-white shadow-lg shadow-blue-800 ring-1 ring-white hover:to-black hover:shadow-blue-500"
>
  {{params.name}}
</a>