<a
  href="{{params.url}}"
  class="rounded-full bg-white px-5 py-2.5 tracking-wide text-black shadow-lg shadow-blue-800 ring-1 ring-black hover:bg-black hover:text-white hover:shadow-blue-500 hover:ring-white"
>
  {{params.name}}
</a>