<a
  href="{{ params.url }}" 
  class="
    px-5 py-2.5 
    tracking-wide text-black hover:text-white
    bg-white hover:bg-black
    rounded-full 
    shadow-lg shadow-blue-800 hover:shadow-blue-500 
    ring-1 ring-black hover:ring-white
  "
>
  {{ params.name }}
</a>