<a 
  href="{{ params.url }}"
  class="
    px-5 py-2.5 rounded-full 
    tracking-wide text-white 
    bg-gradient-to-br from-black/50 to-black/50 hover:from-black hover:to-edgepoint-400
    shadow-lg hover:shadow-blue-500 
    ring-1 ring-white
  "
>
  {{params.name}}
</a>
