<a 
  class=" px-5 py-2.5 tracking-wide shadow-blue-800 bg-gradient-to-br from-black to-epl-light rounded-full shadow-lg hover:shadow-blue-500 text-white hover:to-black ring-1 ring-white"
  href="{{ params.url }}"
>
  {{params.name}}
</a>
