<a 
  aria-label="{{params.post.data.title}}"
  href="{{ params.post.url }}"
  class="col-span-full grid grid-cols-1 gap-y-2 content-start max-w-lg mx-auto overflow-hidden bg-white rounded-lg shadow-lg transition-all ring-2 ring-offset-4 ring-transparent ring-offset-edgepoint-700 hover:ring-white group {{ params.css }} ">
  {% picture params.post.data.image, params.post.data.title, 
    "aspect-[21/9] object-cover object-center bg-slate-200", 
    "490px"
  %}
  <h3 class="px-4 font-medium underline transition decoration-transparent decoration-1 underline-offset-2 group-hover:decoration-black">{{params.post.data.title}}</h3>
  <p class="px-4 pb-4 text-sm">{{ params.post.data.meta }}</p>
</a>