<a 
  aria-label="{{params.item.title}}"
  href="{{params.item.link}}"
  class="grid grid-cols-1 gap-y-2 max-w-md col-span-3 md:col-span-1 group rounded-lg bg-white hover:shadow-lg hover:-translate-y-2 transition"
>
  {% picture 
    params.item.image, 
    params.item.title, 
    "object-cover aspect-video origin-top h-full bg-slate-200 rounded-lg transiton-all",
    "400px" 
  %}
  <h3 class="px-4 font-medium md:text-xl text-epl group-hover:text-black transition">{{params.item.title}}</h3>
  <p class="px-4 pb-4 text-sm">{{params.item.text}}</p>
</a>