<div class="w-1/4 p-3">

  <a class="flex flex-wrap transition place-content-center group" href="{{ params.link.href }}">
  
    <div class="z-10 flex w-16">
      {% set icon = ["handdrawn--", params.link.icon] | join | replace(".svg","") %}
      {% svg icon, "aspect-square w-full opacity-50 transition origin-bottom group-hover:opacity-100 group-hover:scale-125 group-hover:-rotate-6" %}
    </div>
  
    <div class="p-3 pt-8 -mt-8 text-center transition bg-white rounded-lg group-hover:bg-blue-100 ring-1 ring-offset-4 ring-offset-white ring-transparent group-hover:ring-epl-light group-hover:scale-105">
      <p class="text-sm font-medium text-epl group-hover:text-black">{{ params.link.name }}</p>
      <div class="mx-auto w-12 h-[1px] bg-slate-300 my-1.5 group-hover:scale-x-[300%] group-hover:bg-slate-300 transition origin-center"></div>
      <p class="text-xs text-slate-800">{{ params.link.desc }}</p>
    </div>
  
  </a>

</div>