<div class="w-1/2 max-w-sm p-3 lg:w-1/3">
  <a class="flex p-3 transition bg-white rounded-md group hover:bg-blue-100 ring-1 ring-offset-4 ring-offset-white ring-white hover:ring-epl-light hover:scale-105" href="{{ params.link.href }}">
    <div class="flex-none w-12">
      {% set icon = ["handdrawn--", params.link.icon] | join | replace(".svg","") %}
      {% svg icon, "aspect-square w-full opacity-50 transition origin-bottom group-hover:opacity-100 group-hover:scale-125 group-hover:-rotate-6" %}
    </div>
    <div class="pl-1.5">
      <p class="text-sm font-medium text-epl group-hover:text-black">{{ params.link.name }}</p>
      <div class="w-12 h-[1px] bg-slate-300 my-1.5 group-hover:bg-slate-300 group-hover:scale-x-[300%] transition origin-left"></div>
      <p class="text-xs text-slate-800">{{ params.link.desc }}</p>
    </div>
  </a>
</div>