{% set fullURL = [params.baseURL, params.page.url] | join %}

<button
  data-clipboard-text="{{ fullURL }}"
  class="clipboard place-items-center group fill-edgepoint-500 active:fill-black  flex flex-col gap-1"
>
  {% svg "fontawesome/link-solid.svg", "h-6 aspect-square" %}
  
  <div 
    class="absolute"
    x-cloak x-transition:enter.duration.100ms x-transition:leave.duration.400ms
    x-data="{ show: false }"
    x-show="show"
    @flash.window="
      show = true;
      setTimeout(() => show = false, 1100);
    "
  >
    <div class="absolute top-0 z-10 w-32 p-2 -mt-1 text-sm leading-tight text-white transform -translate-x-1/2 -translate-y-full bg-black rounded-lg shadow-lg">
      Copied!
    </div>
    <svg class="absolute z-10 w-6 h-6 text-black transform -translate-x-4 -translate-y-3 fill-current stroke-current" width="8" height="8"><rect x="12" y="-10" width="8" height="8" transform="rotate(45)" /></svg>
  </div>
  
  <label class="group-hover:underline cursor-pointer">Copy</label>
</button>


<button 
  data-sharer="linkedin" 
  data-url="{{ fullURL }}"
  class=" place-items-center  group  flex flex-col gap-1"
>
  {% svg "fontawesome/linkedin-in-brands.svg", "h-6 aspect-square" %}
  <label class="group-hover:underline cursor-pointer">LinkedIn</label>
</button>

<button 
  data-sharer="facebook" 
  data-hashtag="hashtag" 
  data-url="{{ fullURL }}"
  class=" place-items-center  group  flex flex-col gap-1"
>
  {% svg "fontawesome/facebook-f-brands.svg", "h-6 aspect-square" %}
  <label class="group-hover:underline cursor-pointer">Facebook</label>
</button>

<button 
  data-sharer="twitter" 
  data-title="{{ params.title }} | EdgePoint Learning" 
  data-hashtags="" 
  data-url="{{ fullURL }}"
  class=" place-items-center  group  flex flex-col gap-1"
>
  {% svg "fontawesome/twitter-brands.svg",  "h-6 aspect-square" %}
  <label class="group-hover:underline cursor-pointer">Twitter</label>
</button>

<button 
  data-sharer="email" 
  data-title="{{ params.title }} | EdgePoint Learning" 
  data-url="{{ fullURL }}" 
  data-subject="Check out this post from EdgePoint Learning! {{ params.page.title }}" 
  data-to="some@email.com"
  class=" place-items-center  group  flex flex-col gap-1"
>
  {% svg "fontawesome/envelope-solid.svg",  "h-6 aspect-square fill-red-500" %}
  <label class="group-hover:underline cursor-pointer">Email</label>
  
</button>
