---
title: View Our Demos 
permalink: /form/demo/
meta: From custom eLearning development to precision microlearning, explore how EdgePoint Learning can help with your next project.

hero:
  poster: heroes/reel_ALT.png
  video:  heroes/reel_v3.mp4
  style: 'blur'
  headline: Let's design<br> your next project 
  tagline: View our demos or book<br> a one-on-one consultation
  cta:
  - name: Let's talk
    url: '#contact'
  - name: Our solutions
    url: '#solutions'
  
ourDemos:
  - link: /demo/lifting-basic/
    image: /demos/lifting-1-basic.jpg
    style:
      card: 'text-violet-900 bg-violet-200/80 hover:ring-violet-300 hover:shadow-violet-400/75'
      pill: 'bg-violet-800/90'
    title: Fast & Effective
    cta: View Demo A
    copy: Quickly convert your existing training materials into polished, on-demand courses—ideal for fast rollout and immediate results.

  - link: /demo/lifting-pro/
    image: /demos/lifting-2-pro-b.jpg
    style:
      card: 'text-fuchsia-900 bg-fuchsia-200/70 hover:ring-fuchsia-300 hover:shadow-fuchsia-400/75'
      pill: 'bg-fuchsia-800/90'
      image: 'object-top'
    title: Branded & Interactive
    cta: See Demo B
    copy: Elevate your training with interactive, fully branded eLearning modules designed to engage and inspire your team.

  - link: /demo/lifting-premium/
    image: /demos/lifting-3-premium.jpg
    style:
      card: 'text-blue-900 bg-edgepoint-100 hover:ring-blue-300 hover:shadow-blue-400/75'
      pill: 'bg-blue-700/90'
    title: Custom Experiences
    cta: Explore Demo C
    copy: Unlock the ultimate custom solution with advanced visuals, immersive activities, and a seamless experience built just for your organization.
---



{# lifting demos #}
<section class="bg-white py-8">
  <article class="wrapper">
    <header class="epl-prose-scale epl-prose-style">
      <h2 class="mt-0">Explore our eLearning demos</h2>
    </header>
    <div class="grid grid-cols-3 gap-12">
      {%- for item in ourDemos -%}
        <a aria-label="{{item.title}}" href="{{item.link}}" class="
          max-w-md mx-auto 
          grid grid-cols-1 col-span-3 md:col-span-1 gap-y-2 content-start md:content-between
          rounded-lg overflow-hidden 
          ring-2 ring-transparent
          group transition hover:shadow-lg hover:-translate-y-2 {{ item.style.card }}">
          {% set pictureClass = "object-cover aspect-video rounded-t-lg overflow-hidden transition group-hover:scale-110 group-hover:-translate-y-2.5 " ~ item.style.image %}
          {% picture item.image, item.title, pictureClass, "400px" %}
          
          <h3 class="
            mx-4 mt-4
            text-lg lg:text-2xl
            font-semibold !leading-none group-hover:underline
            ">{{item.title}}</h3>
          <p class="mx-4 mb-4 text-sm text-black">{{item.copy}}</p>
          <p>
            <span class="
              inline-block mx-4 mb-4
              px-5 py-2.5 rounded-full 
              tracking-wide text-sm text-white 
              {{item.style.pill}} ring-2 ring-transparent group-hover:ring-white group-hover:bg-black
              ">{{item.cta}}</span>
          </p>
        </a>
      {%- endfor -%}
    </div>
  </article>
</section>



{# pinpoint #}
<section class="relative bg-slate-200 py-8">
  {% svg "waves/wave-6.svg", "wave-top fill-white -scale-y-100" %}
  {% svg "waves/wave-2.svg", "wave-bot fill-white -scale-x-100" %}

  <article class="wrapper relative">
    <header class="epl-prose-scale epl-prose-style">
      <h2>PinPoint, your microlearning solution</h2>
    </header>

    <div class="grid grid-cols-2 gap-8">
      {%- for vimeo in demos_pinpoint -%}
        <section class="max-w-sm mx-auto col-span-2 grid grid-cols-1 gap-2 content-start p-4 bg-slate-300 rounded-lg 
          {{ 'md:max-w-full md:grid-cols-2 items-center' if loop.index == 1 else 'md:max-w-lg md:col-span-1' }}">
          <div class="mx-auto rounded-lg w-full">
            <lite-vimeo 
              videotitle="{{ vimeo.title }}" 
              videoid="{{ vimeo.id }}" 
              {% if vimeo.aspectratio %} aspectratio="{{ vimeo.aspectratio }}" {% endif %}
              {% if vimeo.unlisted %} unlisted {% endif %}
              customPlaceHolder="{{ vimeo.placeholder }}">
            </lite-vimeo>
          </div>
          <div {% if loop.index == 1 %} class="md:ml-4" {% endif %}>
            <h3 class="mt-1 {{ 'md:mt-0' if loop.index == 1 }} text-lg font-bold">{{ vimeo.title }}</h3>
            <p class="text-sm">{{ vimeo.text }}</p>
          </div>
        </section>
      {%- endfor -%}
    </div>
  </article>
</section>



{# solutions #}
<section id="solutions" class="scroll-mt-16 bg-white py-8">

    <article class="grid grid-cols-2 gap-8 wrapper">
      <header class="col-span-full epl-prose-scale epl-prose-style">
        <h2 class="!mb-0">Our Learning Solutions</h2>
      </header>

      {%- for key, value in solutions -%}
        <a aria-label="{{value.name}}" href="{{value.href}}" class="
          col-span-full sm:col-span-1 
          flex flex-col transition-all
          rounded-xl overflow-hidden group ring-1 ring-transparent hover:shadow-lg hover:-translate-y-1 {{ value.styles.card }}
        ">
          <figure class="bg-gradient-radial {{ value.styles.figure }} pt-1">
            {% picture value.image, value.name, "w-[180px] mx-auto origin-bottom transition group-hover:scale-110", "240px" %}
          </figure>
          <section class="p-4">
            <h3 class="text-xl sm:text-2xl lg:text-3xl font-bold {{ value.styles.text }} group-hover:underline">{{value.name}}</h3>
            <p class="mt-3">{{ value.blurb }}</p>
          </section>
        </a>
      {%- endfor -%}
    </article>
  </section>



{# case studies #}
<section id="case-studies" class="relative bg-slate-200 pt-8 pb-20 scroll-mt-16">
  {% svg "waves/wave-6.svg", "wave-top fill-white -scale-y-100" %}
  
  <article class="wrapper relative">
    <header class="epl-prose-scale epl-prose-style">
      <h2>Case Studies</h2>
    </header>

    <div class="grid grid-cols-3 gap-12">
      {%- for post in collections.story -%}
        <a aria-label="{{params.item.title}}" href="{{ post.url }}" class="
          col-span-3 md:col-span-1 
          max-w-lg mx-auto
          grid gap-2 content-start
          p-4 rounded-lg bg-slate-300 
          group transition hover:shadow-lg hover:-translate-y-1">
          <div class="aspect-video rounded-lg bg-white grid place-content-center mb-2">
            {% picture post.data.icon, post.data.title, "w-[80%] h-auto max-w-sm mx-auto"%}
          </div>
          <h3 class="font-bold text-xl group-hover:underline text-slate-700">{{ post.data.client }}</h3>
          <p class="text-slate-800 text-sm leading-relaxed">{{ post.data.meta }}</p>
        </a>
      {%- endfor -%}
    </div>
  </article>
</section>



{# contact #}
<section class="relative pb-16">
  {% svg "waves/wave-2.svg", "wave-top fill-slate-200 -scale-y-100 -scale-x-100" %}

  <aside id="contact" class="
    relative
    scroll-mt-16
    max-w-2xl 
    mx-2 sm:mx-auto
    px-4 sm:px-8 py-8
    grid grid-cols-1 gap-y-6
    bg-white rounded shadow-xl shadow-emerald-600
    ring-4 ring-offset-4 ring-orange-500 ring-offset-yellow-300
    ">
    <h2 class="text-3xl font-bold text-slate-700">Let's talk about your next project</h2>
    {% include 'forms/2024contactus.html' %}  
  </aside>
</section>