---
title: eLearning Glossary 
permalink: /glossary/
meta: eLearning glossary

layout: layouts/01.nav.njk

---
<section class="bg-gradient-to-b from-white to-slate-200 pt-16 pb-24 relative">

  <article class="epl-prose-scale epl-prose-style epl-prose-margin">
    <h1>eLearning Glossary</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </article>


  <!-- List of words with anchor links -->
  <!-- <div class="sticky top-0 bg-white py-6 z-10 shadow"> -->
    <div class="mx-auto max-w-4xl flex flex-wrap justify-center gap-3 px-4">
      {% for item in glossary | sort(attribute="word")  %}
        <a href="#{{ item.word | slugify }}" class="
          flex items-center justify-center
          rounded-md px-3 py-2
          uppercase text-xs font-medium 
        bg-blue-200/75 hover:bg-blue-400/75 border-blue-500/50 hover:text-black hover:underline border-b-4
          ">{{ item.word }}</a>
      {% endfor %}
    </div>
  <!-- </div> -->

  <!-- Sections for SEO, Definition, and Video -->
  {% for item in glossary | sort(attribute="word")  %}
  <article id="{{ item.word | slugify }}"  class="epl-prose-scale epl-prose-style epl-prose-margin">
    <h2 class="mb-4">{{ item.seo }}</h2>
    <p>{{ item.definition }}</p>
    
    {% if item.video %}
    <lite-youtube videotitle="Learning Lingo: {{ item.word }}" videoid="{{ item.video }}" posterquality="maxresdefault">
      <p><a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v={{ item.video }}">Watch on YouTube: "Learning Lingo: {{ item.word }}"</a></p>
    </lite-youtube>
    {% endif %}
  </article>
  {% endfor %}

</section>

{# contact #}
<section class="relative pt-8 pb-16">
  {% svg "waves/wave-4.svg", "wave-top fill-slate-200 -scale-y-100 -scale-x-100" %}

  <aside id="contact" class="
    relative
    scroll-mt-16
    max-w-2xl 
    mx-2 sm:mx-auto
    px-4 sm:px-8 py-8
    grid grid-cols-1 gap-y-6
    bg-white rounded shadow-lg">
    <h2 class="text-3xl sm:text-4xl font-bold text-slate-700">Get in touch</h2>
    <p class="text-slate-600">We're ready for better employee training experiences, and your employees are too. Get in touch today to learn how EdgePoint can help with your next project.</p>
    {% include 'forms/2024contactus.html' %}  
  </aside>
</section>