---
layout: layouts/01.nav.njk

title: Employee Training Insights + News
permalink: /blog/
meta: Discover actionable insights into the learning industry, informative pieces on best practices for training, and more. Subscribe to get the latest in your inbox.
---
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<section class="bg-slate-200 pt-8 px-4 md:px-0">
  <div id="search" class="max-w-xl mx-auto"></div>
</section>
<script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>

<section class="bg-gradient-to-b from-slate-200 via-white to-white pt-12 pb-12">

    {%- for post in collections.blog | reverse -%}
      {% if loop.index0 < 3 %}

        <article class="
          mx-auto w-full max-w-2xl 
          px-4 md:px-0  
          {{ 'mt-16' if loop.index > 1}}">
          <a aria-label="{{post.data.title}}" href="{{post.url}}"
            class="
              grid grid-cols-3 gap-y-4 gap-x-8
              group
            ">
            <figure class="col-span-full {{ 'md:order-last' if loop.index0 == 1}} {{ 'md:col-span-full' if loop.index0 == 0 else 'md:col-span-1' }}">
              {% picture post.data.image, post.data.title, "aspect-[21/9] {{ 'md:aspect-square' if loop.index0 > 0 }} object-cover w-full h-full rounded-lg bg-slate-100" %}
            </figure>
            <section class="col-span-full {{ 'md:col-span-full' if loop.index0 == 0 else 'md:col-span-2' }}">
              <h2 class="text-xl {{'md:text-3xl' if loop.index0 == 0 }} font-serif font-medium leading-tight group-hover:underline decoration-1 underline-offset-2">{{post.data.title}}</h2>
              <p class="mt-2 leading-relaxed {{ 'text-base' if loop.index0 == 0 else 'text-sm' }}">{{ post.data.meta }}</p>
            </section>
          </a>
        </article>

      {% endif %}
    {%- endfor -%}

</section>



<section class="relative bg-gradient-to-b from-edgepoint-700 to-edgepoint-700/0 pb-4 grid place-items-center">
  {% svg "waves/wave-2.svg", "wave-top -scale-y-100 fill-white" %}
  {% svg "waves/wave-7.svg", "wave-bot fill-white" %}
  
    <article class="relative prose prose-sm sm:prose-base epl-prose-margin prose-invert pt-20">
      <h1 class="!m-0 font-bold">Employee Training Insights</h1>
      <h2 class="!mt-3 !mb-6 font-light">We love learning!</h2>
      <p>As learning experts, you can't pry the books and blogs and research articles out of our hands, or podcasts out of our ears. We're always focused on learning and we never stop seeking knowledge about the latest in employee engagement and motivation, and learning theories and technology.</p>
      <p>In the insights from our eLearning blog, you’ll find informative, actionable, and cutting-edge insights into corporate training and development. What does that mean? Articles that tie into recent mainstream news stories. In-depth looks into the newest trends and technologies that are shaping the future of employee training. And, it also means insights into best practices, employee engagement tips, and more. Subscribe now to get the latest eLearning news delivered straight to your inbox.</p>
    </article>

    <aside class="
      relative
      mt-16
      max-w-lg mx-4 sm:mx-0
      flex flex-col justify-center 
      p-4 overflow-hidden bg-white rounded-xl shadow-lg ring-4 ring-offset-4 ring-edgepoint-400 ring-offset-blue-300 ">
      <h3 class="text-xl sm:text-2xl font-bold text-edgepoint-500 ">Subscribe now for the latest news!</h3>
      <p class="mt-2 mb-6 text-sm">Keep up to date on learning industry news and the latest EdgePoint offerings.</p>
      {% include 'forms/newsletter.983.html' %}
    </aside>

</section>



<section class="bg-white pt-8 pb-16">
    {%- for post in collections.blog | reverse -%}
      {% if loop.index0 >= 3 %}

        <article class="mx-auto px-4 md:px-0 max-w-2xl {{ 'mt-16' if loop.index > 1}}">
          <a 
            aria-label="{{post.data.title}}"
            href="{{ post.url }}" 
            title="{{post.title}}" 
            class="group grid grid-cols-4 gap-x-8">
            <figure class="col-span-1 hidden sm:block">
              {% picture post.data.image, post.data.title, "rounded-lg object-cover aspect-square w-full h-auto bg-slate-100", "144px" %}
            </figure>
            <section class="col-span-full sm:col-span-3">
              <h2 class="text-lg font-serif font-medium leading-tight group-hover:underline decoration-1 underline-offset-2">{{post.data.title}}</h2>
              <p class="mt-2 text-sm md:text-base leading-relaxed">{{ post.data.meta }}</p>
            </section>
          </a>
        </article>

      {% endif %}
    {%- endfor -%}
</section>