<footer class="bg-slate-200">
  <div class="flex flex-wrap py-8 text-xs whitespace-nowrap gap-x-10 md:gap-x-24 gap-y-12 wrapper">
    
    <div class="flex flex-col gap-y-4">
      <a class="font-semibold hover:underline" href="/">Home</a>
      <a class="hover:underline " href="/blog/">Insights</a>
      <a class="hover:underline" href="/about/">About Us</a>
      <a class="hover:underline " href="/form/demo/">Demos</a>
      <a class="hover:underline " href="/contact/">Contact</a>
    </div>

    <div class="flex flex-col gap-y-4">
      <a class="font-semibold hover:underline" href="/solutions/">Solutions</a>
      {% for key, value in solutions %}
        <a class="hover:underline" href="{{ value.href }}">{{ value.name }}</a>
      {% endfor %}
    </div>

    <div class="flex flex-col flex-auto gap-y-3">
      <p class="w-full font-semibold">Social</p>
      <div class="flex gap-x-4">
        {% for link in socials %}
          <a 
            href="{{ link.href }}" 
            title="EdgePoint Learning on {{ link.name }}"
            class="transition hover:scale-110" 
            >
            {% svg link.icon, "h-8 aspect-square" %}
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="w-full pt-4 whitespace-normal border-t border-slate-300 text-slate-600 text-center">
      <p>Copyright © 2023 EdgePoint Learning LLC. All rights reserved. By using this website you agree to our <a href="/terms-and-conditions/" class="font-semibold underline">Terms & Conditions.</a> This site is protected by reCAPTCHA, and the Google <a href="https://policies.google.com/privacy" class="font-semibold underline">Privacy Policy</a> and <a href="https://policies.google.com/terms" class="font-semibold underline">Terms of Service</a> apply.</p>
    </div>
    
  </div>
</footer>