<footer class="bg-slate-200">
  <div class="flex flex-wrap py-8 text-xs whitespace-nowrap gap-x-10 md:gap-x-24 gap-y-12 wrapper">
    
    <div class="flex flex-col gap-y-4">
      <a class="font-semibold hover:underline" href="/">Home</a>
      <a class="hover:underline " href="/blog/">Insights</a>
      <a class="hover:underline " href="/contact/">Contact Us</a>
      <a class="hover:underline " href="">{% svg "menu--search", "h-3 aspect-square inline mr-1 align-text-bottom" %}Search</a>
    </div>

    <div class="flex flex-col gap-y-4">
      <a class="font-semibold hover:underline" href="/solutions/">Solutions</a>
      {% for link in solutions %}
        <a class="hover:underline" href="{{ link.href }}">{{ link.name }}</a>
      {% endfor %}
    </div>

    <div class="flex flex-col gap-y-4">
      <a class="font-semibold hover:underline" href="/about/">About Us</a>
      <a class="hover:underline " href="/about/#what-we-do">What We Do</a>
      <a class="hover:underline " href="/about/#our-team">Our Team</a>
      <a class="hover:underline " href="/form/demo/">View Demos</a>
      <a class="hover:underline " href="/about/#case-studies">Case Studies</a>
    </div>

    <div class="flex flex-col flex-auto gap-y-3">
      <p class="w-full font-semibold">Social</p>
      <div class="flex gap-x-4">
        <a 
          href="https://www.linkedin.com/company/edgepoint-learning" 
          title="EdgePoint Learning on LinkedIn"
          class="transition hover:scale-110" 
          >
          {% svg "fontawesome--linkedin-in-brands", "h-8 aspect-square" %}
        </a>
        <a 
          href="http://www.facebook.com/edgepointlearningllc" 
          title="EdgePoint Learning on Facebook"
          class="transition hover:scale-110"
          >
          {% svg "fontawesome--facebook-f-brands", "h-8 aspect-square" %}
          </a>
        <a
          href="https://twitter.com/EdgePointLearn" 
          title="EdgePoint Learning on Twitter"
          class="transition hover:scale-110"
          >
          {% svg "fontawesome--twitter-brands",  "h-8 aspect-square" %}
        </a>
      </div>
    </div>

    <div class="w-full pt-4 whitespace-normal border-t border-slate-300 text-slate-600 text-center">
      <p>Copyright © 2022 EdgePoint Learning LLC. All rights reserved. By using this website you agree to our <a href="/terms-and-conditions/" class="font-semibold underline">Terms & Conditions.</a> This site is protected by reCAPTCHA, and the Google <a href="https://policies.google.com/privacy" class="font-semibold underline">Privacy Policy</a> and <a href="https://policies.google.com/terms" class="font-semibold underline">Terms of Service</a> apply.</p>
    </div>
    
  </div>
</footer>