<!doctype html>
<html lang="en">

  <head>
    {# meta #}
    {% ogImage image, metadata.url %}
    {# https://metagendocs.netlify.app/ #}
    {% metagen 
      title = title + " | EdgePoint Learning",
      desc  = meta or metadata.description,
      url = metadata.url + page.url,
      name = author or "EdgePoint Learning",
      twitter_handle="EdgePointLearn",
      generator="eleventy"
    %}
    <!-- end metagen -->
    {# todo: remove this #}
    {# <meta name="robots" content="noindex, nofollow" /> #}
    {# javascript #}
    <script defer src="/js/alpine.js"></script>
    <script defer src="/js/vi-lazyload.js"></script>
    <script defer src="/js/clipboard.min.js"></script>
    <script defer src="/js/sharer.min.js"></script>
    <script defer src="/js/main.js"></script>
    {# favicons #}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="{{bodyClasses}} page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %} layout--{{ layout }}">
    {% svgsprite %}
    {{ content | safe }}
  </body>

</html>