<!doctype html>
<html lang="en">

  <head>

    {% if structuredData %}
      {% jsonLdScript structuredData %}
    {% endif %}

    {% if sitemap.ignore %}
      <meta name="robots" content="noindex, nofollow" />
    {% endif %}
    {# meta #}
    {% ogImage image, metadata.url %}
    {# https://metagendocs.netlify.app/ #}
    {% metagen 
      title = title + " | EdgePoint Learning",
      desc  = meta or metadata.description,
      url = metadata.url + page.url,
      name = author or "EdgePoint Learning",
      twitter_handle="EdgePointLearn",
      generator="eleventy"
    %}

    {# javascript #}
    <script defer src="/js/alpine.min.js"></script>
    <script defer src="/js/vi-lazyload.js"></script>
    <script type="module" defer src="/js/lite-youtube.js"></script>
    <script defer src="/js/sharer.min.js"></script>
    <script defer src="/js/clipboard.min.js"></script>
    <script defer src="/js/main.js"></script>

    {# favicons #}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/css/styles.css" />

    {# analytics. see myProject.js #}
    {% if myProject.environment == "production" %} 
      {# Google tag (gtag.js) #}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-69CW9ZJZ0H"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-69CW9ZJZ0H');
      </script>
      {# Keap #}
      {# https://help.infusionsoft.com/help/embed-tracking-code-into-your-website #}
      {# <script async type="text/javascript" src="https://lf225.infusionsoft.app/app/webTracking/getTrackingCode"></script> #}
    {% else %}
      <!-- no trackers -->
    {% endif %}
  </head>

  <body class="{{bodyClasses}} page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %} layout-{{ layout }}">
    {% svgsprite %}
    {{ content | safe }}
  </body>

</html>