---
layout: layouts/00.base.njk
---
{# BUG: https://github.com/trys/11ty-component-macro/issues/1 #}
{%- from "system/component.njk" import component -%} 

<div
  x-data="{showMobile: false, showSolutions: false, isMobile: false}"
  x-init="
    isMobile = window.innerWidth < 768;
    $watch('isMobile', () => { if (showSolutions && isMobile) showSolutions = false; });
    $watch('isMobile', () => { if (showMobile && !isMobile) showMobile = false; });
    $watch('showMobile', show => {
      document.body.classList.toggle('overflow-hidden', show);
    });"
  x-on:resize.debounce.100.window="isMobile = window.innerWidth < 768"
  @keyup.escape.window="showSolutions = false; showMobile = false;"
  >

  {# top navbar #}
  <nav id="navbar" class="
    z-40 fixed
    top-0 w-full
    transition bg-gradient-to-r from-edgepoint-800 via-edgepoint-600 to-edgepoint-800 shadow-md">
  
    {% include 'nav/nav.topbar.njk' %}

    {# megamenu wrapper container #}
    <div
      x-cloak x-show="showSolutions" @click.away="showSolutions = false" 
      class="absolute w-full bg-gradient-to-r from-edgepoint-800 via-edgepoint-600 to-edgepoint-800 shadow-md">
      
      {# overlay background #}
      <div @click.self="showSolutions = false" class="-z-10 fixed w-full h-screen bg-edgepoint-950/50 backdrop-blur"></div>
      {# megamenu #}
      {% include 'nav/nav.solutions.njk' %}
    
    </div>

  </nav>

  {# mobile menu #}
  <div x-cloak x-show="showMobile" class="z-50 absolute top-0 left-0 w-full h-screen grid place-content-center">
    {# mobile menu #}
    {% include 'nav/nav.mobile.njk' %}
    {# overlay background #}
    <div @click.self="showMobile = false" class="-z-10 fixed w-full h-full bg-edgepoint-950/50 backdrop-blur"></div>
  </div>

</div>

<main>
  {{ content | safe}}
</main>

{% include 'nav/nav.footer.njk' %}