<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{ title }}</title>
  <script defer src="/js/alpine.js"></script>
  <script defer src="/js/vi-lazyload.js"></script>

</head>

<body class="bg-white">
  {% svgsprite %}
  <div>
    {% render 'nav-mobile.html' %}
    {% render 'nav-desktop.html' about: about, solutions: solutions  %}

    {{ content }}

    {% render 'footer.html' %}
  </div>
</body>

</html>