<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{ title }}</title>
</head>

<body class="bg-fixed bg-gradient-to-b from-slate-300 to-slate-500">
  {% svgsprite %}
  {{ content }}
</body>
</html>