---
layout: 'layouts/empty.njk'
---
<!-- BUG: https://github.com/trys/11ty-component-macro/issues/1 -->
{%- from "system/component.njk" import component -%} 

<div>
{% include 'nav/nav.mobile.njk' %}
{% include 'nav/nav.desktop.njk' %}
{{ content | safe }}
{% include 'nav/nav.footer.njk' %}
</div>