---
layout: 'layouts/base.njk'
---
<!-- BUG: https://github.com/trys/11ty-component-macro/issues/1 -->
{%- from "system/component.njk" import component -%} 

<div class="max-w-[1440px] mx-auto">
  {% picture image, title, "aspect-video max-h-[66vh] overflow-hidden object-cover object-center w-full", "100vw", "eager", "sync" %}
</div>
  

<div class="xl:px-0 px-4 pb-12 bg-white">
  <article class="blogpost">
  <!-- https://tailwindcss.com/docs/typography-plugin -->

    <h1 class="pt-12 leading-tight">{{ title | safe }}</h1>
    
    <div class="not-prose font-sans text-base">
      <p class="font-semibold text-black">{{ author.name }}</p>
      <p>{{ content | emojiReadTime }}</p>  
      <p class="place-items-center flex gap-4">{{ component('sharer', { title: title, page: page, baseURL: metadata.url }) }}</p>  
    </div>

    <section class="pt-16">{{ content | safe }}</section>
  </article>
</div>
