---
layout: 'layouts/base.njk'
---
<!-- https://tailwindcss.com/docs/typography-plugin -->
<!-- BUG: https://github.com/trys/11ty-component-macro/issues/1 -->
{%- from "system/component.njk" import component -%} 

<div class="max-w-[1440px] mx-auto">
  {% picture image, title, "aspect-video max-h-[66vh] overflow-hidden object-cover object-center w-full", "100vw", "eager", "sync" %}
</div>
  

<div class="xl:px-0 px-4 bg-white">
  <article class="lg:prose-lg mx-auto prose">

  <div class="not-prose">
    <h1 class="sm:text-4xl py-12 font-serif text-2xl font-semibold leading-tight">{{ title | safe }}</h1>
    <div class="whitespace-nowrap font-semibold text-center text-black uppercase">{{ author.name }}</div>
    <div class="text-slate-600 whitespace-nowrap text-sm text-center">{{ content | emojiReadTime }}</div>  
    <div class="text-slate-600 flex items-end justify-center gap-5 pt-6">{{ component('sharer', { title: title, page: page, baseURL: metadata.url }) }}</div>
  </div>

    <section class="pt-6 pb-12 font-serif">{{ content | safe }}</section>

  </article>
</div>
