---
layout: 'layouts/01.nav.njk'
---
<div class="bg-black/50">
  {% if vimeoID %}
    {% set vimeoCSS = ["mx-auto max-w-5xl", " " , videoAspect] | join %}
    {% vimeo vimeoID, vimeoCSS %}
  {% endif %}

  {% if iframeSrc %}
    <iframe 
      class="w-full mx-auto max-w-5xl {{videoAspect}}"
      src="{{ iframeSrc }}" 
      frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen 
      title="{{ title }}"
      >
    </iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
  {% endif %}
</div>

<div class="bg-slate-300 pt-20 pb-4">

  <article class="          
      mx-auto px-4 xl:px-0
      prose prose-sm sm:prose-base lg:prose-lg
      prose-slate prose-a:text-epl prose-img:rounded-xl
    ">
    <h1>{{ title }}</h1>
    <p>{{ content | safe }}</p>
  </article>

  <div class="
      my-16
      relative
      max-w-2xl 
      mx-2 sm:mx-auto
      px-4 sm:px-8 py-8
      grid grid-cols-1 gap-y-6
      bg-white rounded shadow-lg
    ">
    <h2 class="text-3xl sm:text-4xl font-bold text-slate-700">Let's talk</h2>
    {% include 'forms/2022contactus.1054.html' %}  
  </div>

</div>