---
layout: 'layouts/01.nav.njk'
---


{# video #}
<section class="bg-black/50">

  {% if vimeo %}
    {% set vimeoCSS = ["mx-auto max-w-5xl", " " , vimeo.css] | join %}
    <div class="{{ vimeoCSS }}">
      <lite-vimeo videotitle="{{ vimeo.title }}" videoid="{{ vimeo.id }}" {% if vimeo.unlisted %} unlisted {% endif %} customPlaceHolder="{{ vimeo.placeholder }}"></lite-vimeo>
    </div>
  {% endif %}

  {% if iframeSrc %}
    <iframe 
      class="w-full mx-auto max-w-5xl {{videoAspect}}"
      src="{{ iframeSrc }}" 
      frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen 
      title="{{ title }}"
      >
    </iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
  {% endif %}

</section>



{# content #}
<section class="bg-slate-300 pt-20 pb-16">
  <article class="epl-prose-scale epl-prose-style epl-prose-margin">
    <h1>{{ title }}</h1>
    <p>{{ content | safe }}</p>
  </article>
</section>