---
layout: 'layouts/base.njk'
---
<!-- BUG: https://github.com/trys/11ty-component-macro/issues/1 -->
{%- from "system/component.njk" import component -%}

<header class="relative overflow-hidden w-full">

  {% set imageCSS = ["absolute -z-50 object-cover w-full h-full scale-125", " " , imageStyles] | join %}
  {% picture image, title, imageCSS, "100vw", "eager", "sync" %}

  {% set videoCSS = ["absolute -z-40 object-cover w-full h-full", " " , hero.videoStyles] | join %}
  {% gif hero.video, videoCSS %}

  <div class="absolute w-full h-full bg-black/20 sm:hidden -z-30"></div>
  
  {% svg hero.wave, hero.waveClasses %}
  
  <section class="
      relative z-10
      w-full max-w-5xl
      mx-auto 
      pt-16 md:pt-24
      pb-20 md:pb-36
      ">
    <div class="
        max-w-xl
        mx-auto md:ml-12
        p-12
        rounded-2xl
        sm:bg-gradient-to-tr from-black/30 via-black/0 to-black/30
        ">
      <h1 class="text-3xl sm:text-5xl font-semibold text-white">{{ hero.headline | safe }}</h1>
      <h2 class="text-xl sm:text-3xl font-light text-white my-12">{{ hero.tagline | safe }}</h2>

      <div class="flex pt-2 text-xs gap-x-8 md:text-base">
        {% if hero.cta[0] %} {{ component('button.blue', { url: hero.cta[0].url, name: hero.cta[0].name }) }} {% endif %}
        {% if hero.cta[1] %} {{ component('button.white', { url: hero.cta[1].url, name: hero.cta[1].name }) }} {% endif %}
      </div>
    </div>
  </section>

</header>

{{ content | safe }}