---
layout: 'layouts/01.nav.njk'
---
{# BUG: https://github.com/trys/11ty-component-macro/issues/1 #}
{%- from "system/component.njk" import component -%}



<header class="relative overflow-hidden w-full">
  
  {% set videoCSS = ["-z-40 absolute object-cover w-screen h-full", " " , hero.style] | join %}
  {% hero hero.poster, hero.video, videoCSS, "high" %}

  {% svg hero.wave, hero.waveClasses %}
  
  <section class="z-10 relative w-full max-w-5xl mx-auto ">
    <div class="
        max-w-fit
        mx-4 md:mr-auto md:ml-12 lg:ml-16
        mt-16 md:mt-24
        mb-20 md:mb-36
        p-6  sm:p-12
        rounded-2xl bg-gradient-to-tr from-black/0 via-black/70 to-black/0 text-white
        ">
      <h1 class="text-3xl sm:text-5xl font-semibold">{{ hero.headline | safe }}</h1>
      <h2 class="text-xl  sm:text-3xl font-light    my-8 sm:my-12">{{ hero.tagline | safe }}</h2>

      <div class="flex pt-2 text-xs gap-x-8 md:text-base">
        {% if hero.cta[0] %} {{ component('button.blue', { url: hero.cta[0].url, name: hero.cta[0].name }) }} {% endif %}
        {% if hero.cta[1] %} {{ component('button.white', { url: hero.cta[1].url, name: hero.cta[1].name }) }} {% endif %}
      </div>
    </div>
  </section>

</header>

{{ content | safe }}