---
layout: 'layouts/01.nav.njk'
---
{# BUG: https://github.com/trys/11ty-component-macro/issues/1 #}
{%- from "system/component.njk" import component -%} 

{% if not author.name %}
  {% set author = authors[author] %}
{% endif %}

<article class="bg-white">

  {# image #}
  <section class="relative overflow-hidden bg-slate-300">
    {% set pictureCSS = ["relative mx-auto w-full max-w-5xl max-h-[60vh] aspect-video object-cover ", imageOrigin] | join %}
    {% picture image, title, "absolute top-0 w-full h-full object-cover blur-2xl" %}
    {% picture image, title, pictureCSS, "100vw", "eager", "sync", "high" %}
  </section>



  <section class="epl-prose-scale epl-prose-style epl-prose-margin font-serif">
    <header class="pt-20 pb-12">
      <h1 class="my-0 mb-12 text-xl xs:text-2xl sm:text-4xl font-serif font-semibold !leading-snug">{{ title | safe }}</h1>
      <p class="not-prose my-0 text-center text-base font-sans font-bold uppercase text-slate-600">{{ author.name }}</p>
      <p class="not-prose my-0 text-center text-sm   font-sans text-slate-500">{{ content | emojiReadTime }}</p>
    </header>
    {{ content | safe }}
  </section>



  {# sharer #}
  <aside class="mt-16 text-slate-600 max-w-min whitespace-nowrap mx-auto text-center">
    <p class="text-slate-500 mb-2 text-sm">Share this article:</p>
    <div class="bg-slate-200 flex items-end justify-center gap-4 p-4 text-xs rounded-lg">
      {{ component('sharer', { title: title, page: page, baseURL: metadata.url }) }}
    </div>
  </aside>



  {# author #}
  {% if author.image %}
    <aside class="guestauthor mt-16 bg-blue-100 max-w-md rounded-xl p-6 flex flex-col mx-auto place-items-center text-sm">
      {% picture author.image, author.name, "aspect-square rounded-full object-cover w-36 ring-blue-400 ring-4", "144px" %}
      <p class="mt-6 text-lg font-bold text-slate-600 uppercase">{{author.name}}</p>
      <div class="mb-6 text-base font-light text-slate-600">{{author.title | markdownFilter | safe}}</div>
      <div class="grid gap-2">{{author.bio | markdownFilter | safe}}</div>
    </aside>
  {% endif %}

</article>



{# subscribe #}
<section class="relative bg-slate-400 py-16 grid place-items-center">
  {% svg "wave-4", "wave-top fill-white -scale-y-100 -scale-x-100" %}
  <aside class="
    relative
    max-w-lg mx-4 sm:mx-0
    flex flex-col justify-center 
    p-4 overflow-hidden bg-white rounded-xl shadow-lg ring-4 ring-offset-4 ring-epl-light ring-offset-blue-300 ">
    <h3 class="text-xl sm:text-2xl font-bold text-epl ">Subscribe now for the latest news!</h3>
    <p class="mt-2 mb-6 text-sm">Keep up to date on learning industry news and the latest EdgePoint offerings.</p>
    {% include 'forms/newsletter.983.html' %}
  </aside>
</section>