---
layout: 'layouts/page.njk'
---
{# BUG: https://github.com/trys/11ty-component-macro/issues/1 #}
{%- from "system/component.njk" import component -%}



{{ content | safe }}



<section class="relative">
  {% svg "waves/wave-2.svg", "wave-top -scale-y-100 fill-white" %}
  {% svg "waves/wave-8.svg", "wave-bot fill-slate-300" %}

  <article class="
    relative
    pt-36 pb-24
    epl-prose-scale epl-prose-margin">
    <h2 class="!my-0 font-serif font-normal text-white text-center">{{ formIntro }}</h2>
  </article>

  <aside class="
      relative
      max-w-2xl 
      mx-2 sm:mx-auto
      px-4 sm:px-8 py-8
      grid grid-cols-1 gap-y-6
      bg-white rounded shadow-lg
      scroll-mt-14" id="contact"
    >
    <h2 class="text-3xl sm:text-4xl font-bold text-slate-700">Let's talk</h2>
    {% include 'forms/2024contactus.html' %}  
  </aside>

</section>



{# explore #}
<section class="bg-slate-300 pt-24 pb-16">
  <aside class="wrapper bg-slate-400 rounded-xl p-4">
    <header class="epl-prose-scale epl-prose-style">
      <h2 class="mt-0 text-slate-700">Explore</h2>
    </header>
    <div class="grid grid-cols-3 gap-12 mb-4">
      {%- for item in explore -%}
        {{ component('card.aside', { item: item }) }}
      {%- endfor -%}
    </div>
  </aside>
</section>