---
layout: 'layouts/base.njk'
---
<div class="m-8">
  
  <div class="flex flex-wrap gap-8">
    {% picture image, title, "w-80 object-cover aspect-[21/9] rounded-xl mb-8", "100vw", "eager", "sync" %}    
    {% picture image, title, "w-80 object-cover aspect-[21/9] mb-8" %}
    <div class="w-80 mb-8">{% picture image, title %}</div>
  </div>
  
  <ul class="list-disc list-inside">
    <li>layout: {{ layout }}</li>
    <li>title: {{ title }}</li>
    <li>meta: {{ meta }}</li>
    <li>image: {{ image }}</li>
    <li>headline: {{ hero.headline }}</li>
    <li>tagline: {{ hero.tagline }}</li>
    {% for cta in hero.cta %}
      <li>cta-{{ loop.index }}: {{ cta.name }} | {{ cta.url }}</li>
    {% endfor %}
    <li>specific cta: {{ hero.cta[0].name }}</li>
  </ul>  

  <article class="border-t pt-4 mt-4 border-slate-400">
    {{ content | safe }}
  </article>

</div>