---
title: View Our Demos 
permalink: /form/demo/
meta: From custom eLearning development to precision microlearning, explore how EdgePoint Learning can help with your next project.

hero:
  video: heroes/liquid_2_med.mp4
  videoStyles: 'blur'
  headline: Let's design<br> your next project 
  tagline: View our demos or book<br> a one-on-one consultation
  cta:
  - name: Let's talk
    url: '#contact'
  - name: Our solutions
    url: /solutions/
  
ourDemos:
- title: "Entry"
  link: "/demo/lifting-basic/"
  image: "/demos/lifting-1-basic.jpg"
  text: "Just starting out with eLearning? Have existing content you want to leverage into an affordable online training program your employees can access on-demand? With our Entry tier, we take your existing content, add stock images and simple interactions, and package it for deployment."
  bg: "bg-rose-50"
  color: "text-rose-700/75"
  outline: "hover:outline-rose-300"

- title: "Pro"
  link: "/demo/lifting-pro/"
  image: "/demos/lifting-2-pro-b.jpg"
  text: "We roll up our sleeves at this tier to help you design a full user learning experience. Our experts help script your content into people-centered learning, customize the user interface with your fonts, colors, and logo, and include simple animations, professional narration, and more."
  bg: "bg-amber-50"
  color: "text-amber-700/75"
  outline: "hover:outline-amber-300"

- title: "Premium"
  link: "/demo/lifting-premium/"
  image: "/demos/lifting-3-premium.jpg"
  text: "Want to develop a truly custom eLearning program from the ground up? In addition to all of the functionality of our Pro tier, you'll find more complex motion graphics, contextual and engaging activities, closed captioning, additional branding, and a more robust user experience overall."
  bg: "bg-blue-50"
  color: "text-blue-700/75"
  outline: "hover:outline-blue-300"

---

<div class="bg-white">
  <div class="wrapper">

    <h2 class="pt-12 pb-12 text-2xl font-bold sm:text-4xl">Explore our eLearning demos</h2>

    <div class="grid grid-cols-3 gap-12 pb-12">
      {%- for item in ourDemos -%}
        <a 
          aria-label="{{item.title}}"
          href="{{item.link}}"
          class="{{item.bg}}
            relative mx-auto max-w-md
            grid grid-cols-1 col-span-3 md:col-span-1 gap-y-2 content-start
            rounded-lg overflow-hidden 
            outline outline-1 outline-transparent {{item.outline}}
            group transition hover:shadow-lg hover:-translate-y-2"
          >
          {% set pictureClass = "object-cover aspect-video rounded-t-lg overflow-hidden transition group-hover:scale-110 group-hover:-translate-y-2.5" %}
          {% if loop.index == 2 %}
            {% set pictureClass = [pictureClass, " object-top"] | join %}
          {% endif %}
          {% picture item.image, item.title, pictureClass, "400px" %}
          <h3 class="mx-4 mt-1 text-xl font-bold">{{item.title}}<br> <span class="font-light text-lg {{item.color}}">eLearning demo</span></h3>
          <p class="mx-4 mb-4 text-sm">{{item.text}}</p>
        </a>

      {%- endfor -%}
    </div>

  </div>
</div>

<div class="relative">
  {% svg "waves--wave-4", "wave-top -z-10 fill-white -scale-y-100 -scale-x-100" %}
  {% svg "waves--wave-7", "wave-bot -z-10 fill-white" %}

  <div class="wrapper">

    <h2 class="pt-28 pb-8 text-2xl font-bold sm:text-4xl text-white">PinPoint, your microlearning solution</h2>

    <div class="grid grid-cols-2 gap-8">

      <div class="col-span-2 p-4 bg-gradient-to-br from-slate-400 via-slate-300 to-slate-500 rounded-lg grid grid-cols-1 md:grid-cols-2 gap-4 items-center shadow-xl">
        {% vimeo "469090686", "mx-auto aspect-video rounded-lg" %}
        <div>
          <h3 class="text-xl font-bold">Meet PinPoint Workforce</h3>
          <p class="mt-2">The future of mobile learning in the flow of work is just a tap away. Connect your frontline to learning with our mobile native platform. PinPoint's precision microlearning surrounds your workplace with learning that taps into the true potential of the smartphone.</p>
        </div>
      </div>

      <div class="col-span-2 md:col-span-1 p-4 bg-slate-200 rounded-lg grid grid-cols-1 gap-2 content-start shadow-xl">
        {% vimeo "219609124", "mx-auto aspect-square rounded-lg" %}
        <h3 class="mt-1 text-lg font-bold">How PinPoint works</h3>
        <p class="text-sm">Leveraging tools like geolocation, augmented reality, Bluetooth beacons, and bar and QR codes, your microlearning and performance support materials are pushed directly to your employees' smartphones right where and when they need support.</p>
      </div>

      <div class="col-span-2 md:col-span-1 p-4 bg-slate-200 rounded-lg grid grid-cols-1 gap-2 content-start shadow-xl">
        {% vimeo "218986846", "mx-auto aspect-square rounded-lg" %}
        <h3 class="mt-1 text-lg font-bold">Explore the Admin app</h3>
        <p class="text-sm">Empower your frontline supervisors with the ability to create and deploy microlearning and performance support tools from any device. Learn how to create assets, set up checklists, and assign training with our guide to the PinPoint admin interface.</p>
      </div>

    </div>
  </div>
</div>

<div class="bg-gradient-to-b from-white via-slate-100 to-slate-100 pt-16 pb-8 scroll-mt-8" id="contact" >
  <div class="max-w-2xl px-4 py-8 mx-auto bg-white rounded drop-shadow-xl">
    <h2 class="mb-6 text-2xl font-bold sm:text-4xl">Let's talk about your next project</h2>
    {% include 'forms/2022contactus.1054.html' %}  
  </div>
</div>



<div class="relative pt-16 pb-24">
  {% svg "waves--wave-4", "wave-top -z-10 -scale-y-100 -scale-x-100 fill-slate-100" %}
  {% svg "waves--wave-2", "wave-bot -z-10 fill-slate-400" %}

  <div class="wrapper relative">
    <h2 class="mb-4 text-2xl font-bold sm:text-4xl text-white">EdgePoint Learning solutions</h2>

    <div class="flex flex-wrap justify-center gap-8 mt-16 wrapper">
      {%- for link in solutions -%}
        {% set blob = ["blobs--blob-", loop.index] | join | replace(".svg","") %}
        {% set icon = ["handdrawn--", link.icon] | join | replace(".svg","") %}    
        {% set narrowName = link.name | replace(" ","\n") | striptags(true) | escape | nl2br %}    
        <div class="relative flex flex-col items-center justify-center w-32 h-32 group sm:w-48">
          {% svg blob, "fill-blue-300 absolute top-0 w-full transition group-hover:rotate-12 group-hover:scale-105" %}
          {% svg blob, "fill-blue-100 absolute top-0 w-full transition group-hover:rotate-12" %}
          <a aria-label="{{ link.name }}" class="z-10" href="{{ link.href }}">{% svg icon, "aspect-square w-16 transition origin-bottom group-hover:scale-125 group-hover:rotate-3" %}</a>
          <a class="z-10 text-center" href="{{ link.href }}"><h4 class="text-sm font-semibold leading-tight">{{ narrowName }}</h4></a>
        </div>    
      {%- endfor -%}
    </div>

  </div>
</div>



<div class="bg-slate-400 pb-16">
  
  <div class="wrapper prose prose-sm sm:prose-base lg:prose-lg prose-slate">
    <h2 id="case-studies">Case Studies</h2>
  </div>

  <div class="relative wrapper grid grid-cols-3 gap-12 mt-6">
    {%- for post in collections.story -%}
      <a href="{{ post.url }}"
        aria-label="{{params.item.title}}"
        class="
          col-span-3 md:col-span-1 
          max-w-lg mx-auto p-4 
          bg-slate-300 
          transition hover:shadow-lg hover:-translate-y-1
          rounded-lg
          grid gap-2 content-start group
        ">
        <div class="aspect-video rounded-lg bg-white grid place-content-center mb-2">
          {% picture post.data.icon, post.data.title, "w-[80%] h-auto max-w-sm mx-auto"%}
        </div>
        <h3 class="font-bold text-xl group-hover:underline text-slate-700">{{ post.data.client }}</h3>
        <p class="text-slate-800 text-sm leading-relaxed">{{ post.data.meta }}</p>
      </a>
    {%- endfor -%}
  </div>

</div>