---
title: Home
permalink: /
meta: From microlearning to blended learning opportunities, EdgePoint Learning designs eLearning solutions for today's employees.

hero:
  headline: We create training<br> that employees love
  tagline: Let's create something amazing
  cta:
  - name: Our work
    url: /form/demo/
  - name: Let's talk
    url: /contact/
  
ourSolutions:
- title: 'Learning Experiences'
  link: '/solutions/'
  image: '/home/card-learning-experiences-icon.png'
  text: 'Empower your employees with custom eLearning courses, microlearning delivered in the flow of work, or a blended approach of desktop, mobile, performance support, and in-person programs. Explore our solutions.'
- title : 'Training Strategy'
  link: '/elearning-consulting-services/'
  image : '/home/card-training-strategy-icon.png'
  text: 'Employee training should be fun, not a dreaded checkmark at the end of their day. Learn how we help you create killer user experiences for your workforce, from program planning to development to launch.'
- title : 'PinPoint Workforce'
  link: 'https://www.pinpointworkforce.com/'
  image : '/home/card-pinpoint-workforce-icon.png'
  text : 'Meet your employees right where they are with our precision microlearning platform, PinPoint Workforce. Explore our mobile-native microlearning LMS, content creation, and performance support solution.'

---
<!-- BUG: https://github.com/trys/11ty-component-macro/issues/1 -->
{%- from "system/component.njk" import component -%} 

<!-- FEATURED SOLUTIONS -->
<div class="pt-16 pb-24 bg-white">
  <div class="wrapper">
    <h2 class="text-2xl font-bold sm:text-4xl">Our Learning Solutions</h2>
    <div class="pt-16 grid grid-cols-3 gap-12">
      {%- for item in ourSolutions -%}
        {{ component('card.c', { item: item }) }}
      {%- endfor -%}
    </div>
  </div>
</div>



<!-- EMBEDDED VIDEO -->
<div class="relative">
  {% svg "waves--wave-4", "wave-top -z-10 fill-white -scale-y-100" %}
  {% svg "waves--wave-7", "wave-bot -z-10 fill-white" %}
  <div class="wrapper">
    {% vimeo "475097274", "mx-auto", "--1" %}
  </div>
</div>



<!-- OUR SOLUTIONS -->
<div class="pt-20 bg-white">
  <div class="wrapper">
    <article>
      <h2 class="mb-4 text-2xl font-bold sm:text-4xl">Your Learning Tools</h2>
      <h3 class="mb-4 text-xl font-light sm:text-3xl text-epl">An End-To-End Solution</h3>
      <p class="prose-sm prose sm:prose-base lg:prose-lg">Too often employee training becomes formulaic, rigid, and outdated…quickly. At EdgePoint, we build people-centered learning experiences that employees love. Whether your organization is a small- or medium-sized business, multinational corporation, or local nonprofit, good learning equals good business. We use the latest learning and delivery technologies to get engaging, contextual training to your employees in the flow of work, when and where they need it most. These are the tools we use to get the job done right.</p>
    </article>
  </div>

  <div class="relative wrapper flex flex-wrap items-center justify-center gap-8 mt-12 pb-16">
    {%- for link in solutions -%}
      {% set icon = ["handdrawn--", link.icon] | join | replace(".svg","") %}    

      <a aria-label="{{link.name}}" href="{{link.href}}" class="
          max-w-md 
          bg-white rounded-lg
          flex items-center 
          p-4
          group transition hover:-translate-y-1 hover:shadow-lg
        ">
        <figure class="mr-4">
          {% svg icon, "aspect-square w-20 origin-center transition group-hover:scale-125" %}
        </figure>
        <section class="">
          <h3 class="text-xl font-bold text-epl-dark decoration-1 group-hover:text-epl group-hover:underline">{{link.name}}</h3>
          <p class="mt-2 text-sm text-slate-700">{{ link.desc }}</p>
        </section>
      </a>

    {%- endfor -%}
  </div>

</div>



<!-- BLOG TEASERS -->
<div class="relative">
  {% svg "waves--wave-6", "wave-top -z-10 fill-white -scale-y-100" %}
  {% svg "waves--wave-7", "wave-bot -z-10 fill-white -scale-x-100" %}
  <div class="relative py-20 wrapper">
    <h2 class="text-2xl font-bold text-white sm:text-4xl">Insights</h2>
    <div class="grid grid-cols-6 gap-12 mt-8 mb-16">

      {%- for post in collections.blog | reverse -%}
      {% if loop.index < 5 %}
          {% if loop.index <= 2 %}
            {% set css = "md:col-span-3" %}
          {% else %}
            {% set css = "md:col-span-2" %}
          {% endif %}
          {{ component('card.b', { post: post, css: css }) }}
        {% endif %}
      {%- endfor -%}
    
      <!-- newsletter form -->
      <div class="flex flex-col justify-center max-w-lg p-4 mx-auto overflow-hidden bg-white shadow-lg rounded-xl md:col-span-2 col-span-full ring-4 ring-offset-4 ring-epl-light ring-offset-blue-300 hover:ring-orange-500 hover:ring-offset-yellow-300">
        <h3 class="text-3xl font-bold text-epl-dark">Subscribe Now!</h3>
        <p class="my-6 text-sm">Keep up to date on learning industry news and the latest EdgePoint offerings.</p>
        {% include 'forms/newsletter.983.html' %}
      </div>

    </div>
  </div>
</div>



<!-- CUSTOMER SHOWCASE -->
<div class="bg-gradient-to-b from-white to-slate-200">
  <div class="wrapper">
    <h2 class="pb-4 text-2xl font-bold sm:text-4xl">Trusted By</h2>
    
    <div class="flex flex-wrap items-center justify-around pb-16 gap-x-4 gap-y-8">
      {% for customer in customers %}
      <a href="/about/#case-studies" title="{{ customer.name }}">
        {% picture customer.logo, customer.name, "w-36 h-auto transition hover:scale-105", "144px" %}
      </a>
      {% endfor %}
    </div>
  </div>
</div>



<!-- CONTACT FORM -->
<div class="relative pb-12">
  {% svg "waves--wave-2", "wave-top -z-10 fill-slate-200 -scale-y-100" %}

  <div class="
      relative
      max-w-2xl 
      mx-2 sm:mx-auto
      px-4 sm:px-8 py-8
      grid grid-cols-1 gap-y-6
      bg-white rounded shadow-lg
    ">
    <h2 class="text-3xl sm:text-4xl font-bold text-slate-700">Let's Talk</h2>
    <p class="pb-8">We're ready for better employee training experiences, and your employees are too. Get in touch today to learn how EdgePoint can help with your next project.</p>  
    {% include 'forms/2022contactus.1054.html' %}  
  </div>
</div>