---
title: 'Employee Training Solutions'
permalink: '/solutions/'
pic: 'placeholder/landscape-7.jpeg'
---

<div class="mt-16 wrapper">
  <h2 class="pb-12 text-2xl font-bold sm:text-4xl">Our Learning Solutions</h2>
  <div class="grid grid-cols-3 gap-12">
    {% render 'card-a.html'
      link: '/solutions/'
      pic: 'placeholder/landscape-1.jpeg'
      title: 'Learning Experiences'
      text: 'Empower your employees with custom eLearning courses, microlearning delivered in the flow of work, or a blended approach of desktop, mobile, performance support, and in-person programs. Explore our solutions.'
    %}

    {% render 'card-a.html'
      link: '/elearning-consulting-services/'
      pic: 'placeholder/landscape-2.jpeg'
      title: 'Training Strategy'
      text: 'Employee training should be fun, not a dreaded checkmark at the end of their day. Learn how we help you create killer user experiences for your workforce, from program planning to development to launch.'
    %}
    
    {% render 'card-a.html'
      link: 'https://www.pinpointworkforce.com/'
      pic: 'placeholder/landscape-3.jpeg'
      title: 'PinPoint Workforce'
      text: 'Meet your employees right where they are with our precision microlearning platform, PinPoint Workforce. Explore our mobile-native microlearning LMS, content creation, and performance support solution.'
    %}
  </div>
</div>

<div class="relative mt-24 topography">
  {% svg "waves--wave-4", "absolute w-full h-full fill-white -scale-y-100 -top-1" %}
  {% svg "waves--wave-7", "absolute w-full h-full fill-white" %}
  <div class="wrapper">
    <div class="vi-lazyload" data-id="475097274" data-thumb="--1" data-logo="0"></div>
  </div>
</div>

<div class="pt-20 wrapper">
  <article class="prose-sm prose sm:prose-base lg:prose-lg">
    <h2 class="">Your Learning Tools</h2>
    <h3 class="font-light text-slate-600">An End-To-End Solution</h3>
    <p>Too often employee training becomes formulaic, rigid, and outdated…quickly. At EdgePoint, we build people-centered learning experiences that employees love. Whether your organization is a small- or medium-sized business, multinational corporation, or local nonprofit, good learning equals good business. We use the latest learning and delivery technologies to get engaging, contextual training to your employees in the flow of work, when and where they need it most. These are the tools we use to get the job done right.</p>
  </article>
</div>

<div class="flex flex-wrap justify-center gap-8 mt-16 wrapper">
  {% for link in solutions %}
    {% assign blob = forloop.index | prepend:'blobs--blob-' | remove:'.svg' %}
    {% assign icon = link.icon | prepend: "handdrawn--" | remove: ".svg" %}
    
    <div class="relative flex flex-col items-center justify-center w-48 h-36 group">
      {% svg blob, "fill-blue-300 absolute top-0 w-full transition group-hover:rotate-12 group-hover:scale-105" %}
      {% svg blob, "fill-blue-100 absolute top-0 w-full transition group-hover:rotate-12" %}
      <a class="z-10" href="{{ link.href }}">{% svg icon, "aspect-square w-16 transition origin-bottom group-hover:scale-125 group-hover:rotate-3" %}</a>
      <a class="z-10 text-center" href="{{ link.href }}"><h4 class="font-semibold leading-tight transition group-hover:text-epl">{{ link.name | replace_first: ' ', '<br>' }}</h4></a>
      </a>
    </div>    
    
  {% endfor %}
</div>

<div class="relative mt-24 topography">
  {% svg "waves--wave-6", "absolute w-full h-full fill-white -scale-y-100 -top-1" %}
  {% svg "waves--wave-7", "absolute w-full h-full fill-white" %}
  <div class="relative py-20 wrapper">
    <h2 class="text-2xl font-bold text-white sm:text-4xl">Insights</h2>

    <div class="grid grid-cols-2 gap-12 mt-8 mb-16">

      {% for post in collections.post reversed %}
      
        <div class="flex flex-col max-w-lg mx-auto bg-white rounded-lg shadow-lg overflow-clip">
          <a class="overflow-hidden" href="{{ post.url }}">
            {% picture post.data.pic, post.data.title, "aspect-[21/9] object-cover object-center transition hover:scale-105", "490px" %}
          </a>
          <div class="p-4">
            <h3 class="mb-2 font-medium"><a class="hover:underline" href="{{ post.url }}">{{post.data.title}}</a></h3>
            <p class="text-sm">{{ post.data.meta }}</p>
          </div>
        </div>

      {% endfor %}
    </div>

  </div>
</div>
